<div *ng-if="state < 2" class="centered">
    <h1 style="text-align: center; margin-bottom: 32px;">What would you like to do?</h1>

    <div *ng-if="state == 1" class="button-wrapper">
      <a (click)="joinRoom($event)" class="btn">Join Room</a>
      <a (click)="createRoom($event)" class="btn">Create Room</a>
      <a (click)="refreshRooms()" class="btn">Refresh Rooms</a>
    </div>

    <div *ng-if="state == 0" class="stream-wrapper">
      <a (click)="askWebcam()" class="btn">Share Video & Audio</a>
      <a (click)="askScreen()" class="btn">Share Screen</a>
    </div>

  </div>

  <!--Video displays here-->
  <div *ng-if="state == 2">

   <div class="room-list">
      <h2>Chat View</h1>
      <form>
          <input placeholder="Please type a message here..." id="message-box" autocomplete="off">
          <button (click)="sendChatMessage(myMessage.value)" class="btn">Send Message</button>
      </form>

        <!--Message area-->
        <div id="chat-messages-feed">
          <div class="chat-message row" *ng-for="#chatMessage of chatBuffer">
            <b>{{chatMessage}}</b>
            </br>
          </div>
      </div>
   </div>

    <div class="video-hud">
      <div class="video-row" *ng-for="#stream of localStreams">
       <video class="video-display" src="{{stream}}" autoplay="true"></video>
      </div>
    </div>
  </div>

  <div *ng-if="state < 2" class="room-list">
    <h2>Available Rooms</h1>
    <div class="name-container">
      <div *ng-for="#room of availableRooms" class="room-name"><a href="#">{{room.roomName}}</a></div>
    </div>

    <h2>Online Users</h1>
    <div class="name-container">
      <div *ng-for="#user of availableUsers" class="room-name">
        <img class="avatar left" src="https://api.adorable.io/avatars/280/{{user.name}}%40adorable.io" alt="{{user.name}}">
      </div>
    </div>

 </div>

</div>
